[Unit]
Description=Chat bot

[Service]
User=root
WorkingDirectory=/root/chat-bot
ExecStart=node main.js
Restart=always
StandardOutput=append:/root/chat-bot.log
StandardError=append:/root/chat-bot.log

[Install]
WantedBy=multi-user.target